In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [ ]:
from google.colab import drive
drive.mount('/content/drive')
!ls "/content/drive/My Drive/Indian Liver patient dataset/indian_liver_patient.csv"

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
'/content/drive/My Drive/Indian Liver patient dataset/indian_liver_patient.csv'

In [ ]:
df_liver = pd.read_csv('/content/drive/My Drive/Indian Liver patient dataset/indian_liver_patient.csv')

In [ ]:
df_liver.head()

   Age  Gender  Total_Bilirubin  ...  Albumin  Albumin_and_Globulin_Ratio  Dataset
0   65  Female              0.7  ...      3.3                        0.90        1
1   62    Male             10.9  ...      3.2                        0.74        1
2   62    Male              7.3  ...      3.3                        0.89        1
3   58    Male              1.0  ...      3.4                        1.00        1
4   72    Male              3.9  ...      2.4                        0.40        1

[5 rows x 11 columns]

In [ ]:
df_liver.columns.values

array(['Age', 'Gender', 'Total_Bilirubin', 'Direct_Bilirubin',
       'Alkaline_Phosphotase', 'Alamine_Aminotransferase',
       'Aspartate_Aminotransferase', 'Total_Protiens', 'Albumin',
       'Albumin_and_Globulin_Ratio', 'Dataset'], dtype=object)

In [ ]:
df_liver.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 583 entries, 0 to 582
Data columns (total 11 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Age                         583 non-null    int64
 1   Gender                      583 non-null    object
 2   Total_Bilirubin             583 non-null    float64
 3   Direct_Bilirubin            583 non-null    float64
 4   Alkaline_Phosphotase        583 non-null    int64
 5   Alamine_Aminotransferase    583 non-null    int64
 6   Aspartate_Aminotransferase  583 non-null    int64
 7   Total_Protiens              583 non-null    float64
 8   Albumin                     583 non-null    float64
 9   Albumin_and_Globulin_Ratio  579 non-null    float64
 10  Dataset                     583 non-null    int64
dtypes: float64(5), int64(5), object(1)
memory usage: 50.2+ KB

In [ ]:
df_liver.shape

(583, 11)

In [ ]:
df_liver.describe()

              Age  Total_Bilirubin  ...  Albumin_and_Globulin_Ratio     Dataset
count  583.000000       583.000000  ...                  579.000000  583.000000
mean    44.746141         3.298799  ...                    0.947064    1.286449
std     16.189833         6.209522  ...                    0.319592    0.452490
min      4.000000         0.400000  ...                    0.300000    1.000000
25%     33.000000         0.800000  ...                    0.700000    1.000000
50%     45.000000         1.000000  ...                    0.930000    1.000000
75%     58.000000         2.600000  ...                    1.100000    2.000000
max     90.000000        75.000000  ...                    2.800000    2.000000

[8 rows x 10 columns]

In [ ]:
df_liver.describe(include ='all')

               Age Gender  ...  Albumin_and_Globulin_Ratio     Dataset
count   583.000000    583  ...                  579.000000  583.000000
unique         NaN      2  ...                         NaN         NaN
top            NaN   Male  ...                         NaN         NaN
freq           NaN    441  ...                         NaN         NaN
mean     44.746141    NaN  ...                    0.947064    1.286449
std      16.189833    NaN  ...                    0.319592    0.452490
min       4.000000    NaN  ...                    0.300000    1.000000
25%      33.000000    NaN  ...                    0.700000    1.000000
50%      45.000000    NaN  ...                    0.930000    1.000000
75%      58.000000    NaN  ...                    1.100000    2.000000
max      90.000000    NaN  ...                    2.800000    2.000000

[11 rows x 11 columns]

In [ ]:
def missing_values(data):
    total = data.isnull().sum().sort_values(ascending=False)
    percentage = (data.isnull().sum()/data.isnull().count()).sort_values(ascending=False)
    percentage_final = (round(percentage, 2) * 100)
    total_percent = pd.concat(objs=[total, percentage_final], axis = 1, keys=['Total', '%'])
    return total_percent

In [ ]:
missing_values(df_liver)

                            Total    %
Albumin_and_Globulin_Ratio      4  1.0
Dataset                         0  0.0
Albumin                         0  0.0
Total_Protiens                  0  0.0
Aspartate_Aminotransferase      0  0.0
Alamine_Aminotransferase        0  0.0
Alkaline_Phosphotase            0  0.0
Direct_Bilirubin                0  0.0
Total_Bilirubin                 0  0.0
Gender                          0  0.0
Age                             0  0.0

In [ ]:
df_liver['Albumin_and_Globulin_Ratio'].fillna(df_liver['Albumin_and_Globulin_Ratio'].mean(), inplace = True)
df_liver['Albumin_and_Globulin_Ratio'].isnull().sum()

0

In [ ]:
missing_values(df_liver)

                            Total    %
Dataset                         0  0.0
Albumin_and_Globulin_Ratio      0  0.0
Albumin                         0  0.0
Total_Protiens                  0  0.0
Aspartate_Aminotransferase      0  0.0
Alamine_Aminotransferase        0  0.0
Alkaline_Phosphotase            0  0.0
Direct_Bilirubin                0  0.0
Total_Bilirubin                 0  0.0
Gender                          0  0.0
Age                             0  0.0

In [ ]:
df_liver.corr().style.background_gradient(cmap='coolwarm')

In [ ]:
df_liver['Gender'] = df_liver['Gender'].map({'Male': 1, 'Female': 0})
df_liver.head()

   Age  Gender  Total_Bilirubin  ...  Albumin  Albumin_and_Globulin_Ratio  Dataset
0   65       0              0.7  ...      3.3                        0.90        1
1   62       1             10.9  ...      3.2                        0.74        1
2   62       1              7.3  ...      3.3                        0.89        1
3   58       1              1.0  ...      3.4                        1.00        1
4   72       1              3.9  ...      2.4                        0.40        1

[5 rows x 11 columns]

**Hypothesis Testing **

In [ ]:
df_liver_hyp = df_liver
df_liver_hyp.head()

   Age  Gender  Total_Bilirubin  ...  Dataset  Hypothesis  Result
0   65       0              0.7  ...        1           1       1
1   62       1             10.9  ...        1           1       1
2   62       1              7.3  ...        1           1       1
3   58       1              1.0  ...        1           1       1
4   72       1              3.9  ...        1           1       1

[5 rows x 13 columns]

In [ ]:
df_liver_hyp['Hypothesis'] = 0

df_liver_hyp.loc[df_liver_hyp['Dataset'] == 1, 'Hypothesis'] = 1

df_liver_hyp['Result'] = 0

df_liver_hyp.loc[df_liver_hyp['Dataset'] == df_liver_hyp['Hypothesis'], 'Result'] = 1

df_liver_hyp.head()

   Age  Gender  Total_Bilirubin  ...  Dataset  Hypothesis  Result
0   65       0              0.7  ...        1           1       1
1   62       1             10.9  ...        1           1       1
2   62       1              7.3  ...        1           1       1
3   58       1              1.0  ...        1           1       1
4   72       1              3.9  ...        1           1       1

[5 rows x 13 columns]

In [ ]:
round(df_liver_hyp['Result'].value_counts(normalize=True) * 100, 3)

1    71.355
0    28.645
Name: Result, dtype: float64

**ML algorithm experiment starts from here**

In [ ]:
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import accuracy_score

from sklearn.model_selection import StratifiedKFold, train_test_split, cross_val_score

from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.neural_network import MLPClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC

In [ ]:
K_fold = StratifiedKFold(n_splits=10)

In [ ]:
X = df_liver.drop(["Dataset", "Hypothesis", "Result"],axis = 1)
Y = df_liver["Dataset"]

scaler=MinMaxScaler()
scaled_values=scaler.fit_transform(X)
X.loc[:,:]=scaled_values

X_train, X_test, Y_train, Y_test=train_test_split(X,Y,stratify=Y, test_size=0.3,random_state=42)


X_train.shape, Y_train.shape, X_test.shape, Y_test.shape

((408, 10), (408,), (175, 10), (175,))

In [ ]:
model_logreg = LogisticRegression()
model_logreg.fit(X_train,Y_train)
y_pred = model_logreg.predict(X_test)

scores = cross_val_score(model_logreg, X_train, Y_train, cv=K_fold, n_jobs=4, scoring='accuracy')

print(scores)
score_logreg = round(np.mean(scores) * 100, 3)
print("Score: {}".format(score_logreg))
acc_logreg = round(np.mean(accuracy_score(Y_test, y_pred)) * 100, 3)
print("Accuracy: {}".format(acc_logreg))

[0.73170732 0.73170732 0.70731707 0.68292683 0.70731707 0.68292683
 0.70731707 0.73170732 0.725      0.725     ]
Score: 71.329
Accuracy: 72.0

In [ ]:
model_knn = KNeighborsClassifier(n_neighbors=5)
model_knn.fit(X_train, Y_train)
y_pred = model_knn.predict(X_test)

scores = cross_val_score(model_knn, X_train, Y_train, cv=K_fold, n_jobs=4, scoring='accuracy')

print(scores)
score_knn = round(np.mean(scores) * 100, 3)
print("Score: {}".format(score_knn))
acc_knn = round(np.mean(accuracy_score(Y_test, y_pred)) * 100, 3)
print("Accuracy: {}".format(acc_knn))

[0.73170732 0.70731707 0.70731707 0.58536585 0.56097561 0.75609756
 0.63414634 0.70731707 0.725      0.6       ]
Score: 67.152
Accuracy: 65.143

In [ ]:
model_MLP = MLPClassifier()
model_MLP.fit(X_train, Y_train)
y_pred = model_MLP.predict(X_test)

scores = cross_val_score(model_MLP, X_train, Y_train, cv=K_fold, n_jobs=4, scoring='accuracy' )

print(scores)
score_MLP = round(np.mean(scores) * 100, 3)
print("Score: {}".format(score_MLP))
acc_MLP = round(np.mean(accuracy_score(Y_test, y_pred)) * 100, 3)
print("Accuracy: {}".format(acc_MLP))

/usr/local/lib/python3.6/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:571: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  % self.max_iter, ConvergenceWarning)

[0.73170732 0.75609756 0.68292683 0.58536585 0.70731707 0.6097561
 0.75609756 0.70731707 0.725      0.75      ]
Score: 70.116
Accuracy: 73.714

In [ ]:
model_dtc = DecisionTreeClassifier()
model_dtc.fit(X_train, Y_train)
y_pred = model_dtc.predict(X_test)

scores = cross_val_score(model_dtc, X_train, Y_train, cv=K_fold, n_jobs=4, scoring='accuracy')

print(scores)
score_dtc = round(np.mean(scores) * 100, 3)
print("Score: {}".format(score_dtc))
acc_dtc = round(np.mean(accuracy_score(Y_test, y_pred)) * 100, 3)
print("Accuracy: {}".format(acc_dtc))

[0.70731707 0.65853659 0.70731707 0.68292683 0.63414634 0.56097561
 0.68292683 0.56097561 0.65       0.65      ]
Score: 64.951
Accuracy: 61.143

In [ ]:
model_rfc = RandomForestClassifier(n_estimators=50)
model_rfc.fit(X_train, Y_train)
y_pred = model_rfc.predict(X_test)

scores = cross_val_score(model_rfc, X_train, Y_train, cv=K_fold, n_jobs=4, scoring ='accuracy')

print(scores)
score_rfc = round(np.mean(scores) * 100, 3)
print("Score: {}".format(score_rfc))
acc_rfc = round(np.mean(accuracy_score(Y_test, y_pred)) * 100, 3)
print("Accuracy: {}".format(acc_rfc))

[0.53658537 0.73170732 0.75609756 0.75609756 0.7804878  0.63414634
 0.80487805 0.70731707 0.675      0.75      ]
Score: 71.323
Accuracy: 70.286

In [ ]:
model_gaussNB = GaussianNB()
model_gaussNB.fit(X_train, Y_train)
y_pred = model_gaussNB.predict(X_test)

scores = cross_val_score(model_gaussNB, X_train, Y_train, cv=K_fold, n_jobs=4, scoring='accuracy')

print(scores)
score_gaussNB = round(np.mean(scores) * 100, 3)
print("Score: {}".format(score_gaussNB))
acc_gaussNB = round(np.mean(accuracy_score(Y_test, y_pred)) * 100, 3)
print("Accuracy: {}".format(acc_gaussNB))

[0.51219512 0.56097561 0.68292683 0.56097561 0.6097561  0.46341463
 0.65853659 0.53658537 0.5        0.5       ]
Score: 55.854
Accuracy: 54.857

In [ ]:
model_SVC = SVC()
model_SVC.fit(X_train, Y_train)
y_pred = model_SVC.predict(X_test)

scores = cross_val_score(model_SVC, X_train, Y_train, cv=K_fold, n_jobs=4, scoring='accuracy')

print(scores)
score_SVC = round(np.mean(scores) * 100, 3)
print("Score: {}".format(score_SVC))
acc_SVC = round(np.mean(accuracy_score(Y_test, y_pred)) * 100, 3)
print("Accuracy: {}".format(acc_SVC))

[0.73170732 0.70731707 0.70731707 0.70731707 0.70731707 0.70731707
 0.70731707 0.70731707 0.725      0.725     ]
Score: 71.329
Accuracy: 71.429

In [ ]:
model_GBC = GradientBoostingClassifier()
model_GBC.fit(X_train, Y_train)
y_pred = model_GBC.predict(X_test)

scores = cross_val_score(model_GBC, X_train, Y_train, cv=K_fold, n_jobs=4, scoring='accuracy')

print(scores)
score_GBC = round(np.mean(scores) * 100, 3)
print("Score: {}".format(score_GBC))
acc_GBC = round(np.mean(accuracy_score(Y_test, y_pred)) * 100, 3)
print("Accuracy: {}".format(acc_GBC))

[0.63414634 0.75609756 0.75609756 0.6097561  0.75609756 0.65853659
 0.82926829 0.6097561  0.7        0.825     ]
Score: 71.348
Accuracy: 64.571

In [ ]:
results = pd.DataFrame({'Model': ['Logistic Regression','KNeighborsClassifer', 'MLP Classifier', 
                                  'Decision Tree Classifier', 'Random Forest Classifier', 'GaussianNB', 'SVC', 
                                  'GB Classifier'],
                        'Accuracy': [acc_logreg, acc_knn, acc_MLP, acc_dtc, acc_rfc, acc_gaussNB, 
                                  acc_SVC, acc_GBC], 
                        'Score': [score_logreg, score_knn, score_MLP, score_dtc, score_rfc, score_gaussNB, 
                                  score_SVC, score_GBC],})
df_results = results.sort_values(by='Score', ascending=False)
df_results = df_results.set_index('Score')
df_results

                           Model  Accuracy
Score
71.348             GB Classifier    64.571
71.329       Logistic Regression    72.000
71.329                       SVC    71.429
71.323  Random Forest Classifier    70.286
70.116            MLP Classifier    73.714
67.152       KNeighborsClassifer    65.143
64.951  Decision Tree Classifier    61.143
55.854                GaussianNB    54.857